.track {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
  text-align: center;
}

.track-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.track-headTitle {
  margin: 0;
  font: var(--headline2);
  color: var(--darkGrayishBlue);
}

.track-headInfo {
  margin: 0;
}

.track-description {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.track-descriptionInfo {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.track-descriptionItemTitle {
  margin: 0;
  font: var(--headline3);
  color: var(--darkGrayishBlue);
}

.track-descriptionItemInfo {
  margin: 0;
  letter-spacing: .1px;
}

@media screen and (min-width: 1024px) {
  .track {
    gap: 80px;

  }
  .track-head {
    max-inline-size: 730px;
    /* align-self: center; */
  }

  .track-headTitle {
    font: var(--headline2Desktop);
  }

  .track-headInfo {
    font: var(--body2Desktop);
    letter-spacing: .14px;
  }

  .track-description {
    inline-size: 1212px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: -115px;
  }

  .track-descriptionImage img {
    inline-size: 752px;
    block-size: 572px;
  }

  .track-descriptionInfo {
    inline-size: 350px;
    text-align: start;
    gap: 56px;
  }

  .track-descriptionItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .track-descriptionItemInfo {
    font: var(--body3Desktop);
  }
}